@model HealtyLifeApp.Models.FoodClassifier.ResultByClassification


@{
    ViewBag.Title = "Result";
}


<div class="classification-result">
    <h2>Result by classification: </h2>
    <div>
        @Model.Message
    </div>
</div>
